<h1>
  {{name}}
</h1>


<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Metodo:</td>
  <dd>{{getHeroDescription()}}</dd>

  <dl>Capitalizado</dl>
  <dd>{{capitalizedName}}</dd>
</dl>

<!-- al usar directivas propias de angular no see encesita la doble llave
basta utilizar una expresion de javascript -->
<button class="btn btn-primary mx-2"
  *ngIf="name !== 'Batman'"
  (click)="changeHero()" >
  Cambiar nombre
</button>

<button class="btn btn-primary mx-2"
  *ngIf="age !== 40"
  (click)="changeAge()">
  Cambiar edad
</button>

<button class="btn btn-primary mx-2"
  (click)="resetForm()">
  reset form
</button>
